/* Buttons
================================================== */

input[type="submit"] {
   border: none;
}

.btn {
   display: inline-block;
   font-family: $sans-serif-extra-bold;
   text-transform: uppercase;
   border-radius: 5px;
   background-color: $link-color;
   @include transition(background, 0.3s, ease);
   &:hover {
      background-color: lighten($link-color, 20);
   }
}

.btn-primary {
   color: #fff;
   padding: $padding 20px;
}

.btn-secondary {
   padding: 10px $padding;
}

.btn-tertiary {
   padding: $padding;
}

.btn-error {
   background-color: $red;
   padding: $padding;
}