/* Mixins
================================================== */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition-property, $transition-time, $method) {
   -webkit-transition: $transition-property $transition-time $method;
      -moz-transition: $transition-property $transition-time $method;
       -ms-transition: $transition-property $transition-time $method;
        -o-transition: $transition-property $transition-time $method;
           transition: $transition-property $transition-time $method;
}

/* Breakpoints
-------------------------------------------------------------- */

@mixin breakpoint($point) {
  @if $point == mama-bear {
    @media (max-width: 1280px) { @content; }
  }
  @if $point == baby-bear {
    @media (max-width: 55em) { @content; }
  }
  @if $point == infant-bear {
    @media (max-width: 35em) { @content; }
  }
  @if $point == reverso-baby-bear {
    @media (min-width: 55em) { @content; }
  }
}

/* Prevent FOUT
-------------------------------------------------------------- */

@mixin preventFOUT {
  .wf-loading & {
    visibility: hidden;
  }
}

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */
