/* Typography
================================================== */

h1 {
   font-size: $h1-size;
   font-family: $sans-serif-extra-bold;
}

h2, h3, h4 {
   font-family: $sans-serif-bold;
}

h2 {font-size: $h2-size;}
h3 {font-size: $h3-size;}
h4 {font-size: $h4-size;}

blockquote {}

p,
li {font-size: $paragraph-size;}