/*!
   Name: Derelict Dominion
*/

   //Core Variables, Mixins
   @import 'partials/mixins';
   @import 'partials/variables';

   //Reset
   @import 'partials/reset';

   //Fonts
   @import 'partials/fonts';

   //Core CSS
   @import 'partials/grid';
   @import 'partials/base';
   @import 'partials/typography';

   //Forms, Tables and Buttons
   @import 'partials/forms';
   @import 'partials/tables';
   @import 'partials/buttons';

   //JS Library Necessary Styles
   @import 'partials/flexslider';
   @import 'partials/fancybox';

   //Navigation
   @import 'partials/navigation';

/* Site
================================================== */

.page {
   max-width: 1200px;
   margin: 0 auto;
   background-color: $white;
}

.site-header {
   border-bottom: 1px solid $gray-lighter;
   h1 {
      float: left;
      line-height: 1;
      @include breakpoint(baby-bear){
         float: none;
         margin-top: 0;
      }
      a {
         color: $gray-darker;
         &:hover {
            color: $gray-light;
         }
      }
   }
}

.map {
   border: 1px solid #c3c3c3;
   height: 500px;
   margin-bottom: $padding;
   @include breakpoint(baby-bear){
      height: 350px;
   }
}

.devise-shit {
   float: right;
   @include breakpoint (baby-bear){
      float: none;
   }
}

// correction for distorted map zoom bar

#map-canvas label {
   width: auto;
   display:inline;
}

#map-canvas img {
   max-width: none;
}

/* ---------------------------------------------- Derelict Houssing List - Index Page */

.derelict-housing {
   padding-top: $padding;
}

.derelict-housing-list {
   font-size: 1.4em;
   margin-top: $padding;
   display: block;
   width: 25%;
   float: left;
   @include breakpoint(baby-bear) {
      width: 50%;
   }
   @include breakpoint(infant-bear){
      width: 100%;
   }
   a {
      font-family: $sans-serif-extra-bold;
   }

}

/* ---------------------------------------------- Report Building Form */

.report-building-form {
   label {
      font-family: $sans-serif-bold;
   }
   input {
      margin-bottom: $padding;
   }
   input[type="text"] {
      width: 50%;
      @include breakpoint(baby-bear){
         width: 100%;
      }
   }
}
