/*!
   Name: Derelict Dominion
*/

   //Core Variables, Mixins
   @import 'partials/mixins';
   @import 'partials/variables';

   //Reset
   @import 'partials/reset';

   //Fonts
   @import 'partials/fonts';

   //Core CSS
   @import 'partials/grid';
   @import 'partials/base';
   @import 'partials/typography';

   //Forms, Tables and Buttons
   @import 'partials/forms';
   @import 'partials/tables';
   @import 'partials/buttons';

   //JS Library Necessary Styles
   @import 'partials/flexslider';
   @import 'partials/fancybox';

   //Navigation
   @import 'partials/navigation';

/* Base
================================================== */
.page {
   max-width: 1200px;
   margin: 0 auto;
}

.map {
   border: 1px solid #c3c3c3;
}

/* Header
================================================== */

/* Site
================================================== */

/* Footer
================================================== */